.card {
    background-color: $card-background;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 1rem;
}

.card-text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6%;

    h1 {
        color: $main-heading;
        font-size: 3.4rem;
        margin-bottom: 2.8rem;
        line-height: 4.2rem;
        letter-spacing: 0.6px;
    }

    span{
        color: $accent;
    }

    .text {
        color: $main-heading;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.5px;
    }
}

.stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.stat-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stat-num{
    color: $main-heading;
    font-weight: bold;
    font-size: 2.2rem;
}

.stat-title{
    color: $stat-heading;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 0.8rem;
}

.card-image{
    background-color: $accent;
    border-radius: 0 1rem 1rem 0;

}

img {
    height: 100%;
    mix-blend-mode: multiply;
    position: relative;
}


.mobile-card-image {
    display: none;
}

.pink{
    background-color: $accent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    border-radius: 0 1rem 1rem 0;
}
