html {
    font: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: $main-background;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}