html {
    font: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: $main-background;
    color: $main-heading;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
    // height: 100vh;
    margin: 50px 20px;
    padding: 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}