@media screen and (max-width: 1050px) {
    .stat-title {
        font-size: 1.1rem;
    }

    .card-text-part {
        .block {
            width: 100vw;
        }

        

        h1 {
            font-size: 2rem;
            line-height: 3rem;
            margin-bottom: 2rem;
        }

        .text{
            width: 100%;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.5px;
        }
    }
}