html {
  font: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #090b1a;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  border: 1px solid orangered;
}

.card-text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #00ff0d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-text-part h1 {
  color: white;
  font-size: 3.4rem;
  margin-bottom: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.6px;
}

.card-text-part span {
  color: #aa5cdb;
}

.card-text-part .text {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid yellow;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.stat-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid greenyellow;
}

.stat-num {
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: lowercase;
  border: 1px solid blue;
}

.stat-title {
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.8rem;
  font-family: 'Lexend Deca', sans-serif;
  border: 1px solid orange;
}

.card-image {
  background-color: #aa5cdb;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid white;
}

.img-desktop {
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
}

.img-mobile {
  display: none;
}

.overlay {
  background-color: #aa5cdb;
  max-width: 100%;
  opacity: 0.25;
  border-radius: 0 1rem 1rem 0;
}

@media screen and (max-width: 375px) {
  .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stat-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.6rem;
  }
  .card-img-part {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 1rem;
  }
  img {
    border-radius: 1rem;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .pink {
    border-radius: 1rem 1rem 0 0;
  }
  .card-text-part {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10%;
  }
  .card-text-part h1 {
    font-size: 2.6rem;
    text-align: center;
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
  }
  .card-text-part .text {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 78%;
    margin: 3% 0;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stat-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.6rem;
  }
  .card-img-part {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .card-text-part {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10%;
  }
  .card-text-part h1 {
    font-size: 3.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
  }
  .card-text-part .text {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .stat-title {
    font-size: 1.1rem;
  }
  .card-text-part .block {
    width: 100vw;
  }
  .card-text-part h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  .card-text-part .text {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
  }
}
/*# sourceMappingURL=main.css.map */