// Import
@import 'media-quieries';


// Primary Colors
$main-background:hsl(233, 47%, 7%);
$card-background:hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

// Neutral Colors

$main-heading:hsl(0, 0%, 100%);
$color-main7:hsla(0, 0%, 100%, 0.75);
$color-main6: hsla(0, 0%, 100%, 0.6);

$font-size: 15px;

// html {
//     font: 62.5%;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color:$main-background;
    color: $main-heading;
    font-family: 'Inter', 'Lexend Deca', sans-serif;
}

.card {
    background-color: $card-background;
    border-radius: 20px;
    margin: 48px;
    padding: 40px;
    display: flex;
}

span {
    color: $accent;
}

// <!-- Card Container -->
.block {
    display: flex;
    
}

.mobile-card-image {
    display: none;
}


