html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 35%, 0.866);
  color: hsla(0, 0%, 100%, 0.943);
}
